<h1>My Tasks</h1>

<% @tasks.each do |task| %>
  <ul class="list-inline">
    <li class="list-inline-item">
      <h3><strong><%= link_to task.title, task_path(task) %></strong></h3>
      <% if !task.completed %>
        <li class="list-inline-item" id="icon-1"><i class="fa fa-square"></i>
      <% else %>
        <li class="list-inline-item" id="icon-2"><i class="fa fa-check-square"></i>
      <% end %>

      <%= link_to task_path(task), method: :delete, data: { confirm: "Are you sure?" } do %>
        <i class="fa fa-trash"></i>
      <% end %></li>
    </li>
  </ul>
<% end %>

<button type="button" class="btn btn-primary" id="add"><%= link_to 'Add a new task', :new_task %></i></button>
